<style type="text/css">
    .wrap-item-list {
        overflow: hidden;
        display: block;
        margin-bottom: 40px;
    }
    .item-list {
        margin: 0 0 0 -2%;
        padding: 0;
        list-style: none;
    }
    .item-list li {
        display: inline-block;
        margin-left: 2%;
        padding:0 0 20px;
        vertical-align: top;
        width: 47.7%;
    }
    .items-box {}
        .items-box .image {}
            .items-box .image img {
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                width: 99px;
                height: 99px;
            }
            .items-box .image .bgimg {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                overflow: hidden;
                width: 99px;
                height: 99px;
            }
        .items-box .detail {
            padding-left: 10px;
        }
            .items-box .detail h4 {
                color: #333;
                font-size: 14px;
                font-weight: bold;
                margin: 0 0 10px;
            }
            .items-box .detail p {
                font-size: 12px;
                line-height: 1.2;
            }
                .items-box .detail p .post {
                    display: block;
                    padding: 0 0 10px;
                }
            .items-box .detail a {}
            .items-box .detail a.cv {
                display: block;
                margin: 8px 0 0;
            }
    .head-section {
      font-size: 1.8em;
      color: #666;
      border-bottom: 2px solid #ededed;
      padding: 0 0 6px;
      margin: 20px 0;
    }
</style>

<div class="wrap-item-list">
    <h3 class="head-section">คณาจารย์</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/wijit.JPG');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>รศ.น.สพ.ดร. วิจิตร บรรลุนารา</h4>
                        <p>
                            <span class="post">
                                Assoc. Prof. Dr. Wijit Banlunara<br />
                                (D.V.M., Ph.D.)<br />
                                ตำแหน่ง : หัวหน้าหน่วย
                            </span>
                                โทรศัพท์ : 0-2218-9617  <br />
                                อีเมล : <a href="mailto:wijit.k@chula.ac.th">wijit.k@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path_A_Wijit.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>        
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154795.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>ศ.สพ.ญ.ดร. อัจฉริยา ไศละสูต</h4>
                        <p>
                            <span class="post">
                                 Prof. Dr. Achariya Sailasuta<br />
                                (D.V.M., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9616  <br />
                                อีเมล : <a href="mailto:achariya.sa@chula.ac.th">achariya.sa@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Achariya.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/rungroij.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>ศ.น.สพ.ดร. รุ่งโรจน์ ธนาวงษ์นุเวช</h4>
                        <p>
                            <span class="post">
                                Prof. Dr. Roongroje Thanawongnuwech <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9612  <br />
                                อีเมล : <a href="mailto:roongroje.t@chula.ac.th">roongroje.t@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Roongroje.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154796.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>รศ.น.สพ.ดร. อนุเทพ รังสีพิพัฒน์</h4>
                        <p>
                            <span class="post">
                                Assoc. Prof. Dr. Anudep Rungsipipat <br />
                                (D.V.M., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9616  <br />
                                อีเมล : <a href="mailto:anudep.r@chula.ac.th">anudep.r@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/CVAR-loadweb.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154800.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>ผศ.น.สพ.ดร. คมกฤช เทียนคำ</h4>
                        <p>
                            <span class="post">
                                Asst. Prof. Dr. Komkrich Teankum <br />
                                (D.V.M., M.Sc., Dr.Med.Vet.)
                            </span>
                                โทรศัพท์ : 0-2218-9618  <br />
                                อีเมล : <a href="mailto:komkrich.t@chula.ac.th">komkrich.t@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/CV-komkrich-Teankum-2013.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/nopadol.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>รศ.น.สพ.ดร. นพดล พิฬารัตน์</h4>
                        <p>
                            <span class="post">
                                Assoc. Prof. Dr. Nopadon Pirarat <br />
                                (D.V.M., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9612  <br />
                                อีเมล : <a href="mailto:nopadonpirarat@gmail.com">nopadonpirarat@gmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/CV%20%E0%B8%AD.%E0%B8%88%E0%B8%B4%E0%B8%A1.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154789.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>รศ.น.สพ.ดร. ธีระยุทธ แก้วอมตวงศ์</h4>
                        <p>
                            <span class="post">
                                Assoc. Prof. Dr. Theerayuth Kaewamatawong<br />
                                (D.V.M., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9617  <br />
                                อีเมล : <a href="mailto:Theerayuth71@hotmail.com">Theerayuth71@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Teerayut.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/somporn.JPG');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>รศ.สพ.ญ.ดร. สมพร เตชะงามสุวรรณ</h4>
                        <p>
                            <span class="post">
                                Assoc. Prof. Dr.Somporn Techangamsuwan <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9614  <br />
                                อีเมล : <a href="mailto:somporn62@hotmail.com">somporn62@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Somporn.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154798.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>ผศ.น.สพ.ดร. สว่าง เกษแดงสกลวุฒิ</h4>
                        <p>
                            <span class="post">
                                Asst. Prof. Dr.Sawang Kesdangsakonwut <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9618  <br />
                                อีเมล : <a href="mailto:sawang.k@chula.ac.th">sawang.k@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Sawang.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/yalwalak.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>อ.สพ.ญ.ดร. เยาวลักษณ์ ปัญญสิงห์</h4>
                        <p>
                            <span class="post">
                                Instructor Dr.Yaowalak Panyasing <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9619  <br />
                                อีเมล : <a href="mailto:yaowalak.p@chula.ac.th">yaowalak.p@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/pathology/department_staff_tech.php" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/kasem.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>อ.น.สพ. ดร.เกษม รัตนภิญโญพิทักษ์</h4>
                        <p>
                            <span class="post">
                                Instructor Dr.Kasem Rattanapinyopituk <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                                โทรศัพท์ : 0-2218-9619  <br />
                                อีเมล : <a href="mailto:Kasem.R@chula.ac.th">Kasem.R@chula.ac.th</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Path-A-Sawang.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/araya.JPG');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>อ.สพ.ญ. อารยา รัตนกถิกานนท์</h4>
                        <p>
                            <span class="post">
                                Instructor Araya Radtanakatikanon <br />
                                (D.V.M., M.Sc.)
                            </span>
                                โทรศัพท์ : 0-2218-9614  <br />
                                อีเมล : <a href="mailto:iammai_cud38@hotmail.com">iammai_cud38@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/pathology/department_staff_tech.php" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="wrap-item-list">
    <h3 class="head-section">พยาธิสัตวแพทย์</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/katariya.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>สพ.ญ. แคทรียา จันทร์ขาว</h4>
                        <p>
                            <span class="post">
                                Dr. Katriya Chankow <br />
                                (D.V.M.)
                            </span>
                                โทรศัพท์ : 0-2218-9615, 0-2218-9611  <br />
                                อีเมล : <a href="mailto:tamaninegg@hotmail.com">tamaninegg@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/catreya.jpg" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="wrap-item-list">
    <h3 class="head-section">เจ้าหน้าที่บริการวิทยาศาสตร์</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154784.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาย สิทธิโชค ลาชโรจน์</h4>
                        <p>
                            <span class="post">
                                Mr. Sitthicholk Lacharoje <br />
                                B.Sc. (Biology)
                            </span>
                                โทรศัพท์ : 0-2218-9620  <br />
                                อีเมล : <a href="mailto:beng_wj@hotmail.com">beng_wj@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/CV%20beng.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154780.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาว พนิตนันท์ จตุพรพรรณยา</h4>
                        <p>
                            <span class="post">
                                Miss Panitnan Chatupornpanya <br />
                                B.Sc. (Animal Science)
                            </span>
                                โทรศัพท์ : 0-2218-9620  <br />
                                อีเมล : <a href="mailto:saranya_pooh@hotmail.com">saranya_pooh@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/pathology/department_staff_sci.php" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154787.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาวนริศรา ฉิมนาคบุญ</h4>
                        <p>
                            <span class="post">
                                Miss Narisara Chimnakboon <br />
                                B.Sc. (Animal Science)
                            </span>
                                โทรศัพท์ : 0-2218-9613  <br /> 
                                อีเมล : <a href="mailto:kn_kung@hotmail.com">kn_kung@hotmail.com</a>
                                <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/56152.jpg" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/dungchanok.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาว ดวงชนก อำนวยยนต์วารี</h4>
                        <p>
                            <span class="post">
                                Miss. Duangchanok Umnuayyonvaree <br />
                                B.Sc. (Animal Science)
                            </span> 
                                โทรศัพท์ : -  <br /> 
                                อีเมล : <a href="mailto:duangchanok_u@hotmail.com">duangchanok_u@hotmail.com</a>
                                <a href="#" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="wrap-item-list">
    <h3 class="head-section"> เจ้าหน้าที่ธุรการ</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/wantana.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาง วันทนา อัศวเลิศแสงดี</h4>
                        <p>
                            <span class="post">
                                Mrs. Wantana Utsawalertsaengdee
                            </span>
                                โทรศัพท์ : 0-2218-9621 โทรสาร 02-2520779  <br />
                                อีเมล : <a href="mailto:wantana.u@chula.ac.th">wantana.u@chula.ac.th</a>
                                <!-- <a href="" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="wrap-item-list">
    <h3 class="head-section">เจ้าหน้าที่ทั่วไป</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154786.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาย สุชาติ ทองลิ่ม</h4>
                        <p>
                            <span class="post">
                                Mr. Suchart Tonglim  <br />
                            </span>
                                โทรศัพท์ : 0-2218-9621  
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154799.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาย สามารถ ริ้วชูศรี</h4>
                        <p>
                            <span class="post">
                                Mr. Samart Riwchoosri <br />
                            </span>
                                โทรศัพท์ : 0-2218-9611  
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154797.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาง ชไมพร ถุงเงินโต</h4>
                        <p>
                            <span class="post">
                                Mrs. Chamaiporn Tungeonto <br />
                            </span>
                                โทรศัพท์ : 0-2218-9611  
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

