<style type="text/css">
    .wrap-item-list {
        overflow: hidden;
        display: block;
        margin-bottom: 40px;
    }
    .item-list {
        margin: 0 0 0 -2%;
        padding: 0;
        list-style: none;
    }
    .item-list li {
        display: inline-block;
        margin-left: 2%;
        padding:0 0 20px;
        vertical-align: top;
        width: 47.7%;
    }
    .items-box {}
    .items-box .image {}
    .items-box .image img {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 99px;
        height: 99px;
    }
    .items-box .image .bgimg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        width: 99px;
        height: 99px;
    }
    .items-box .detail {
        padding-left: 10px;
    }
    .items-box .detail h4 {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px;
    }
    .items-box .detail p {
        font-size: 12px;
        line-height: 1.2;
    }
    .items-box .detail p .post {
        display: block;
        padding: 0 0 10px;
    }
    .items-box .detail a {}
    .items-box .detail a.cv {
        display: block;
        margin: 8px 0 0;
    }
    .head-section {
        font-size: 1.8em;
        color: #666;
        border-bottom: 2px solid #ededed;
        padding: 0 0 6px;
        margin: 20px 0;
    }
</style>

<div class="wrap-item-list">
<h3 class="head-section">คณาจารย์</h3>
<ul class="item-list">
<li>
    <div class="row-fluid items-box">
        <div class="span3 image"><div class="bgimg" style="background-image:url('/images/piyanan.jpg');background-position:50% 30%"></div></div>
        <div class="span9">
            <div class="detail">
                <h4>ผศ.น.สพ.ดร. ปิยนันท์ ทวีถาวรสวัสดิ์</h4>
                <p>
                            <span class="post">
                                Asst. Prof. Dr. Piyanan Taweethavonsawat <br />
                                (D.V.M., M.Sc., Ph.D.)
                    ตำแหน่ง : หัวหน้าหน่วย</span>
                    โทรศัพท์ : 0-2218-9661  <br />
                    อีเมล : <a href="mailto:Piyanan.T@Chula.ac.th">Piyanan.T@Chula.ac.th</a>
                    <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/A_Piyanan.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                </p>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="row-fluid items-box">
        <div class="span3 image"><div class="bgimg" style="background-image:url('/test/images/A_Narerat.jpg');background-position:50% 30%"></div></div>
        <div class="span9">
            <div class="detail">
                <h4>ผศ.สพ.ญ.ดร. นารีรัตน์ วิเศษกุล</h4>
                <p>
                            <span class="post">
                                Asst. Prof. Dr. Nareerat Viseshakul <br />
                                (D.V.M., M.S.,Ph.D.)
                            </span>
                    โทรศัพท์ : 0-2218-9595  <br />
                    อีเมล : <a href="mailto:Nareerat.V@Chula.ac.th">Nareerat.V@Chula.ac.th</a>
                    <a href="http://www.path.vet.chula.ac.th/parasitology/department_staff_tech.php" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                </p>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="row-fluid items-box">
        <div class="span3 image"><div class="bgimg" style="background-image:url('/test/images/154793.jpg');"></div></div>
        <div class="span9">
            <div class="detail">
                <h4>รศ.น.สพ.ดร. สนธยา เตียวศิริทรัพย์</h4>
                <p>
                            <span class="post">
                                 Asst. Prof. Dr. Sonthaya Tiawsirisup<br />
                                (D.V.M., Ph.D.)
                            </span>
                    โทรศัพท์ : 0-2218-9664  <br />
                    อีเมล : <a href="mailto:Sonthaya.T@Chula.ac.th">Sonthaya.T@Chula.ac.th</a>
                    <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Sonthaya%20CV-%20June%202013.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                </p>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="row-fluid items-box">
        <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154788.jpg');"></div></div>
        <div class="span9">
            <div class="detail">
                <h4>ผศ.สพ.ญ.ดร. วรพร สุขุมาวาสี</h4>
                <p>
                            <span class="post">
                                Asst. Prof. Dr. Woraporn Sukhumavasi<br />
                                (D.V.M., Ph.D.)<br />
                            </span>
                    โทรศัพท์ : 0-2218-9663  <br />
                    อีเมล : <a href="mailto:Vetkwan@hotmail.com">Vetkwan@hotmail.com</a>
                    <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/A_Woraporn.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                </p>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="row-fluid items-box">
        <div class="span3 image"><div class="bgimg" style="background-image:url('/images/morragot.jpg');background-position:50% 30%"></div></div>
        <div class="span9">
            <div class="detail">
                <h4>ผศ.น.สพ.ดร.มรกต แก้วธรรมสอน</h4>
                <p>
                            <span class="post">
                                Asst. Prof. Dr. Morakot Kaewthamasorn <br />
                                (D.V.M., M.Sc., Ph.D.)
                            </span>
                    โทรศัพท์ : 0-2218-9667  <br />
                    อีเมล : <a href="mailto:Morakot.K@Chula.ac.th">Morakot.K@Chula.ac.th</a>
                    <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/Kaewthamasorn%20CV%20as%20of%20March%202014.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                </p>
            </div>
        </div>
    </div>
</li>
</ul>
</div>

<div class="wrap-item-list">
    <h3 class="head-section">เจ้าหน้าที่บริการวิทยาศาสตร์</h3>
    <ul class="item-list">        
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/test/images/154781.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาว สุชันษา  ธานี</h4>
                        <p>
                            <span class="post">
                                Miss Suchansa  Thanee <br />
                                B.Sc. (Biology)
                            </span>
                            โทรศัพท์ : 02-218-9670  <br />
                            อีเมล : <a href="mailto:lee.aeye@gmail.com">lee.aeye@gmail.com</a>
                            <a href="" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/thanida.JPG');background-position:6% 50% "></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาว ธนิดา แซ่ตั้ง</h4>
                        <p>
                            <span class="post">
                                Miss Thanida  Sae-tang <br />
                                B.Sc. (Biology)
                            </span>
                            โทรศัพท์ : 0-2218-9670  <br />
                            อีเมล : <a href="mailto:thanida.t@gmail.com">thanida.t@gmail.com</a>
                            <a href="http://www.path.vet.chula.ac.th/admin/cv_department_staff/K_Sudchit.pdf" target="_blank" class="cv">ประวัติ / ผลงานวิจัย / รางวัล</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="wrap-item-list">
    <h3 class="head-section">เจ้าหน้าที่ธุรการ</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/sarisa.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาวศิระสา สุขพิศาล</h4>
                        <p>
                            <span class="post">
                                Miss Sirasa Sukpisan <br />

                            </span>
                            โทรศัพท์ : 02-218-9670  โทรสาร 02-218-9666<br />
                            อีเมล : <a href="mailto:ssicecy@gmail.com">ssicecy@gmail.com</a>

                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrap-item-list">
    <h3 class="head-section">เจ้าหน้าที่ทั่วไป</h3>
    <ul class="item-list">
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/test/images/154790.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาง ทุเรียน แก้วทอง</h4>
                        <p>
                            <span class="post">
                                Mrs. Turean Kawthong <br />

                            </span>
                            โทรศัพท์ : 0-2218-9670  <br />


                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/test/images/154791.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นาย วินัย จันทร์หอม</h4>
                        <p>
                            <span class="post">
                                Mr. Winai Chanhome <br />

                            </span>
                            โทรศัพท์ : 0-2218-9670  <br />

                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row-fluid items-box">
                <div class="span3 image"><div class="bgimg" style="background-image:url('/images/154783.jpg');"></div></div>
                <div class="span9">
                    <div class="detail">
                        <h4>นางสาว วันเพ็ญ ปะอาว</h4>
                        <p>
                            <span class="post">
                                Miss Wanpeng Paoow <br />

                            </span>
                             โทรศัพท์ : 0-2218-9670  <br />

                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>